.btn-regles {
	background-color: rgb(46, 173, 122);
	padding: 5px 10px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: 'Tahoma', sans-serif;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}

.btn-wst {
	background-color: #8E0310;
	padding: 5px 10px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: 'Tahoma', sans-serif;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}

.btn-card {
	background-color: #126D60;
	padding: 5px 10px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: 'Tahoma', sans-serif;
	text-align: center;
	text-decoration: none;
}
